* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f1f5f8;
}

.container {
  display: grid;
  place-items: center;
  height: 60vh;
}

.grocery-bud {
  width: 500px;
  min-height: 95px;
  -webkit-box-shadow: 0px 0px 24px -2px rgba(0,0,0,0.52); 
  box-shadow: 0px 0px 24px -2px rgba(0,0,0,0.52);
  padding-top: 30px;
  border-radius: 5px;
  background-color: white;
}

.form-container {
  display: grid;
  place-items: center;
}

.form-container h2 {
  color: rgb(129, 129, 180);
  margin-bottom: 15px;
  margin-top: 15px;
  letter-spacing: 2px;
}

.form-container input {
  border: none;
  width: 325px;
  height: 30px;
  border-radius: 5px;
  background-color: rgb(231, 231, 248);
  padding-left: 10px;
}

.form-container button {
  border: none;
  width: 75px;
  height: 30px;
  border-radius: 5px;
  background-color: rgb(109, 109, 161);
  color: white;
  letter-spacing: 1px;
}

.list {
  display: grid;
  place-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.items li {
  list-style: none;
  width: 400px;
  height: 25px;
  margin-top: 7px;
}

.edit-btn {
  color: rgb(78, 180, 86);
}

.bin-btn {
  color: rgb(194, 64, 64);
}

.item {
  position: relative;
  padding: 5px;
  height: 25px;
}

.item span {
  position: absolute;
  right: 5px;
  top: 11px;
}

.item span button {
  background-color: transparent;
  border: none;
  margin-right: 10px;
}

.alert {
  width: 50%;
  height: 20px;
  font-size: 13px;
  text-align: center;
  border-radius: 5px;
}

.danger {
  background-color: rgb(201, 103, 103);
}

.success {
  background-color: rgb(78, 180, 124);
}

.delete-btn {
  text-align: center;
}

.delete-btn button {
  border: none;
  background-color: transparent;
  color: rgb(201, 103, 103);
  font-size: 20px;
  letter-spacing: 2px;
  margin-bottom: 20px;
}